*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  border: none;
}
img {
  display: block;
  max-width: 100%;
}
menu:not(article menu),
ol:not(article ol),
ul:not(article ul) {
  list-style: none;
}

article ol,
article ul {
  list-style-position: inside;
}
a {
  /* Places underlines below the descenders */
  text-underline-position: under;

  /* Sets the thickness as a percentage of the font size */
  text-decoration-thickness: 8;
}

html {
  font-size: 62.5%; /* (62.5/100) * 16px = 10px */
}
@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}

label,
button,
select,
summary,
[type="radio"],
[type="submit"],
[type="checkbox"] {
  cursor: pointer;
}

body {
  font-size: 1.6rem;
  font-family: "Quicksand", sans-serif;
}

code {
  font-family: monospace;
  font-size: 1.4rem;
}

h1 {
  font-size: 2.4rem;
}
h2 {
  font-size: 2rem;
}

section {
  max-width: 90rem;
  margin: 0 auto;
  padding: 5rem 1rem;
  border-bottom: 1px solid #ddd;
}
.flex-col {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.layout {
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: auto 1fr;
  min-height: 100vh;
  max-width: 100rem;
  margin: 0 auto;
}

header {
  background: #333;
  color: #fff;
  padding: 2rem 1rem;
  font-weight: 700;
  grid-row: 1;
  grid-column: 1/-1;
}

aside {
  background-color: #f4f4f4;
  padding: 4rem 2rem;
  width: 20rem;
  position: sticky;
  grid-row: 2;
  grid-column: 1;
}

main {
  grid-row: 2;
  grid-column: 2;
  padding: 1em;
}

footer {
  grid-row: 3;
  grid-column: 1/-1;
  background: #333;
  color: white;
  padding: 1em;
  text-align: center;
  opacity: 50%;
}

code {
  padding: 3rem 5rem;
  background-color: #eee;
  color: #666;
  display: inline-block;
  border-radius: 20px;
  margin-bottom: 2rem;
  margin-right: 2rem;
}

p {
  color: #666;
}

li br {
  margin-bottom: 2rem;
}
li span:after {
  content: text;
}
